![ADSA Logo](http://i.imgur.com/BV0CdHZ.png?2 "ADSA Logo")

# Fall 2018 ADSA Workshop - First Installment

##Workshops to come

###Foundational Workshops
- Week 3: Advanced Python 
- Week 4: Statistics and Probabilities using Numpy
- Week 5: Dataframes with Pandas

###Machine Learning Workshops
- Week 6: Introduction to Machine Learning
  - Fundamentals of Machine Learning
  - Nearest Neighbors
  - Decision Trees
  - Naive Bayes
- Week 7: Machine Learning Continued


*All of these workshops will be posted on our google calendar. *


----

##What is Data Science?

Data Science is an interdisciplinary field that draws concepts from many different disciplines such as Math, Statistics, Visualization, Computer Science, etc. 

Today, data is all around us! Data Science uses some of this data to make educated decision, predict the future, or confirm existing ideas. 

Some concrete examples include: 
- Recommender Systems 
- Targeted Advertisement

##What is Machine Learning?

Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed.

Some concrete examples include: 
  - Autonomous Cars
  - Credit card fraud detection 
  - Facial Recognition
  
  -----

## Let us look at what's to come!

## [The Classifcation Problem][statisticalclassification]
 
In machine learning and statistics, classification is the problem of identifying to which of a set of categories (sub-populations) a new observation belongs, on the basis of a training set of data containing observations (or instances) whose category membership is known.

[statisticalclassification]:https://en.wikipedia.org/wiki/Statistical_classification

## [k-Nearest Neighbors][knn] (K-NN)

The first algorithm we will explore is one of the simplest, the
[k-nearest neighbor][knn] algorithm. Fundamentally, this algorithm is
remarkable simple and is based on the principle that data values in an
$N$- dimensional space are generally located near other similar objects.
The number of nearest neighbors, k, is a tuning parameter, and can be
specified a priori or in some algorithms empirically determined. The
basic principle behind k-nn is demonstrated in the following figure from
Wikipedia:

![knn Image from Wikipedia][knni]

As shown in the image, when a new datum is added, the classification
must be assigned. In the case of k-nn, this is done by looking at the
nearest neighbors and using some statistical evaluation of their
classes. For example, we could use some weighted combination of the
nearest neighbors, where the weight might be determined by the relative
distance of each neighbor from the datum of interest. 


[knn]: https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm
[knni]: https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/KnnClassification.svg/500px-KnnClassification.svg.png

##Decision Trees

Decision trees are one of the few models that allow users to interpret exactly why the classifier makes a decision. Under the hood, the decision tree classifer asks a series of yes or no questions. Based on the answers, the classifier will return its decision.

[Decision Tree Example Image]

[Decision Tree Example Image]: https://www.xoriant.com/blog/product-engineering/decision-trees-machine-learning-algorithm.html


----

## What is Python?
Python is a general purpose programming language created in the late 1980s, and named after Monty Python, that’s used by thousands of people to do things from testing microchips at Intel, to powering Instagram, to building video games with the PyGame library. It’s small, very closely resembles the English language, and has hundreds of existing third-party libraries. Some of these libraries are scientific and numeric computing libraries which can be used to analyze large amounts of data!

Today, we will learn how to: 
* Declare variables
* Work with strings of text in Python
* Perform arithmetic operations in Python
* Use if-else conditionals
* Create loops
* Work with basic data structures
* Declare functions

## Hello world!

Let's start with a classic "Hello world!" program. In order to print text to a screen in Python, we can use the `print` function followed by text in quotations. Run the code block below to see its output.

In [1]:
print("Hello world!")

Hello world!

### Exercise 
Now try printing `"I am learning Python!"` onto the screen by typing your code into the block below.

In [2]:
print("I am learning Python")

I am learning Python

***
## Comments
If any line starts with a `#`, then the Python interpreter ignores that line when running your code. You can use these lines, called comments, to annotate and explain your code. '''...''' can be used for multiline comments as well!

In [3]:
# This is a comment.
# This line is not executed by the interpreter.
# print "This won't print" because it has a #
# The line below this does not start with #, it will be executed.

'''
This is a multiline comment,
it can have as many lines as
you want!
'''

print("This is not a comment.")

This is not a comment.

***
## Variables and Data Types

A variable is used to hold a value. Variables and values have an associated datatype. Common datatypes are:
* `string` (text)
* `int` (integer)
* `float` (decimal value)
* `bool` (binary `True` or `False` values)
* Many more 

In many programming languages, you must specify what datatype your variable is, however, Python is able to tell the type based on the value you enter. When you declare a variable, you give the variable a name, and specify its value.

### Strings
Strings are a set of characters. They must always be enclosed in either single or double-quotes. This is how you declare the string variable with name `my_string` and value `"Hello!"`.

In [0]:
my_string = "Data Science"

Now we can print the variable `my_string` using the print command like so: `print my_string`. Note that in Python 3 you have to write this as print(my_string) with parenthesis.

In [5]:
print(my_string)

Data Science

In [6]:
multi_line_string = """This is the first line of our string
and this is the second,
and woah! A third line!
"""

print(multi_line_string)

This is the first line of our string
and this is the second,
and woah! A third line!

To determine the length (number of characters in a string) we can use the built-in Python function len() like this:

In [7]:
print(len('You can enter a string like this'))

new_string = 'Or you can enter a variable like this!'

print(len(new_string))

32
38

Many other string operations exist which can be found here: https://docs.python.org/2/library/string.html

For instance, if we wanted to turn a string to lowercase, we could use the .lower() method like this:

In [8]:
my_string = "HELLO"

print(my_string.lower())

hello

#### Concatenating Strings
You can combine multiple strings into a single string using the `+`. In the code below, we are concatenating the strings in variables `first_name` and `last_name` to create the variable `full_name`, and then printing it. Replace the value for first_name and last_name with your name, and run the program.

In [9]:
first_name = 'Joe '
last_name = 'Python'

full_name = first_name + last_name 
print(full_name)

Joe Python

Now create two strings with names `word1` and `word2` and concatenate them to form the string `BigData`. Store this in the variable `my_word`.

In [10]:
word1 = 'Big'
word2 = 'Data'

my_word = word1 + word2
print(my_word)

BigData

You can add a space between the two concatenated strings like so:

In [11]:
my_word = word1 + " " + word2
print(my_word)

Big Data

We can also place variables in strings by using the %s notation like this. This is called a format string.

In [12]:
club_name = 'ADSA'
print('%s is awesome!' % club_name)

school = 'The University of Illinois'
campus = 'Urbana-Champaign'
print('%s at %s is a cool school.' % (school, campus))

ADSA is awesome!
The University of Illinois at Urbana-Champaign is a cool school.

### Exercise 
Now trying making the `my_word_two` variable with a formatted string that prints 'BigData'

In [13]:
my_word_two = '%s' % (word1 + word2)
print(my_word_two)

BigData

### Type Casting

Some times Python isn't sure what we want when trying to combine variables of different types.

In [0]:
num = 5
#print('My favorite number is ' + 5) # This will print an error

In order to get around this example, we can either use a formatted string, or what's known as "type casting" or "type converting" the variable num. Type casting is a special Python syntax which allows us to change the data type of a variable when we use it. We can use the str(), int(), long(), or a number of functions to convert data types. ([Here](http://www.informit.com/articles/article.aspx?p=459269&seqNum=7) is a larger list of conversion functions)

In [15]:
num = 5
print('My favorite number is ' + str(num)) # This will now work

My favorite number is 5

***
### Numbers and Math

You can do all of the basic operations with integers. Addition and subtraction use the standard plus and minus symbols. Multiplication uses the asterisk, and division uses a forward slash. Exponents use two asterisks.

In [16]:
print(3+2)

5

In [17]:
print(3-2)

1

In [18]:
print(3*2)

6

In [19]:
print(3/2) # Dividing two integers returns the nearest integer rounded down in Python 2.7

1

Didn't expect `3/2 = 1`, did you?

In Python 2.7, division returns an integer value. To return a floating point (real) number, you can either convert one of two numbers to a float value, or use Python's `__future__` module

In [20]:
print(3%2) # This is the modulus symbol, it divides the number and uses the remainder
          # with respect to 2
print(6%8) # Here's another example, since 8 doesn't divide 6, the remainder is 6

1
6

In [21]:
print(3./2)

1.5

In [22]:
# If we want to return the real value from integer division
# we can import the Python module division from __future__
from __future__ import division 

print(3/2)

1.5

In [23]:
print(3**2) # This equates to 3^2

9

With decimal numbers (called `float`), you can do the same operations.

In [24]:
print(1.7*4.4)

7.48

In [25]:
print(33.3/11.1)

3.0

And like strings, you can store them in variables and refer to them by the variable names.

In [26]:
x = 5
y = 12

# The + sign below does not concatenate the two variables X and Y because they are not strings.
# The + sign in this case will compute the sum of the two variables.
print(x+y)

17

### Exercise 
Now try storing the value of `x-squared plus y-squared` in the variable z.

In [0]:
z = 169

***
## If-Else Conditional
Has an application ever asked you a question? Maybe it asked you if you really want to quit because unsaved changes might be lost, or if you want to leave a webpage. If you answer OK, one thing happens. But if you answer No or Cancel, something else happens. In all those cases there is a special piece of code that is being run somewhere in the code. It is an if condition.

Like all languages, Python allows us to conditionally run code.

To have an if condition we need the idea of something being true and something being false. Remember, we call numbers "integers" and "floating point", and text "strings". We call `True` or `False` "boolean" values. `True` would represent OK where as `False` would represent No or Cancel in the example above.

The literal values in Python for true and false are `True` and `False`

Try running the blocks of code below to get a sense of how boolean conditions work.

In [28]:
1 > 2

False

In [29]:
"Cool".startswith("C")

True

In [30]:
"Cool".endswith("C")

False

In [31]:
"oo" in "Cool"

True

In [32]:
42 == 1 # note the double equals sign for equality

False

As in the example above, Python differentiates between `=` and `==`. The single equality symbol `=` is used to assign the value on the right to the variable on the left, like so:

    my_variable = 59

The double equality symbol `==` is used to compare two quantities. `==` gives us a result of `True` or `False`.

In order to write an "if" statement we need code that spans multiple lines

    if condition:
        print("Condition is True")
    else:
        print("Condition is False")

Some things to notice. The if condition ends in a colon (":"). In Python blocks of code are indicated with a colon (":") and are grouped by white space. Notice the else also ends with a colon (":"), "else:". Let's try changing the condition and see what happens.

In [33]:
# condition holds either a True or False value
condition = 1 > 2
if condition:
    print("Condition is True")
else:
    print("Condition is False")

Condition is False

About that white space, consider the following code below. Since the last print statement isn't indented it gets run after the if block or the else block. Also note that the comparison condition can be directly used in the if statement and does not have to be stored in a variable.

In [34]:
if 35 >= 17:
    print("Condition is True")
else:
    print("Condition is False")
print("Condition can be True or False, either way this is outputted because it is not indented.")

Condition is True
Condition can be True or False, either way this is outputted because it is not indented.

You can also use boolean logic inside if conditions using the keywords `and`, `or`, and `not`.

In [35]:
if "zo" not in "Cool" and 20/5 == 4:
    print("Awesome!")
else:
    print("Aww shucks!")

Awesome!

***
## Data Structures

While declaring simple variables to hold data is very useful, once you begin working with a large set of related data or values, it becomes necessary to group this collection of data in some sort of structure to work with.

Below, we will discuss a few fundamental data structures in Python and computer science in general.

### Lists

Lists are perhaps the most fundemantal data structure in Python. A Python `List` is very similar to what other languages call an `Array`, however it has some added functionality.

A list in Python is just like a shopping list or a list of numbers. They have a defined order and you can add to it or remove from it.

Let's take a look at some simple lists.

In [36]:
# The empty list
[]

[]

In [37]:
["Milk", "Eggs", "Bacon"]

['Milk', 'Eggs', 'Bacon']

In [38]:
[1, 2, 3]

[1, 2, 3]

List literals are all about square brackets ("[ ]") and commas (","). You can create a list of literals by wrapping them in square brackets and separating them with commas.

You can even mix different types of things into the same list; numbers, strings, booleans.

In [39]:
[True, 0, "Awesome"]

[True, 0, 'Awesome']

We can put variables into a list and set a variable to a list.

In [40]:
your_name = "Albert O'Connor"
awesome_people = ["Eric Idle", your_name]
print(awesome_people)

['Eric Idle', "Albert O'Connor"]

You can append to a list. The following code lets you add an item to the end of a list.

In [41]:
awesome_people.append("John Cleese")
print(awesome_people)

['Eric Idle', "Albert O'Connor", 'John Cleese']

Lists, like in many other languages, are 0-indexed. Which means that when you try to access the first element in the list, you use the index 0 like so:

In [42]:
awesome_people[0]

'Eric Idle'

And the second element like this:

In [43]:
awesome_people[1]

"Albert O'Connor"

There are many Python functions which can be performed on Lists. Here is an example using Python's len() and sum() functions.

In [44]:
my_list = [1,2,3,4,5]

print(len(my_list)) # Prints the number of items in the list

print (sum(my_list)) # Sums up the total value of all integers in the list

5
15

Another useful List operation is `in`, which returns true or false depending on if a value is or is not in a list.

In [45]:
my_list = [1,2,3,4,5]

print(3 in my_list) # Checks if the value 3 appears in our list

print(6 in my_list) # Checks if the value 6 appears in our list

True
False

### Exercise 
Write a program using If-Else conditionals and List operations which prints "Buy eggs!" if the word "Eggs" is in the shopping list variable, or adds "Eggs" to the shopping list if it is not in the list.

In [0]:
shopping_list = ['Bacon', 'Milk'] # Run this once to make the list then enter your code below

In [47]:
#Enter your code below
if "Eggs" in shopping_list:
    print("Buy eggs!")
    print(shopping_list)
else:
    shopping_list.append("Eggs")
    print(shopping_list)

['Bacon', 'Milk', 'Eggs']

In [48]:
# To remove, use the remove() function
shopping_list.remove(shopping_list[2])
print('Remove Shopping List : ' + str(shopping_list))

Remove Shopping List : ['Bacon', 'Milk']

## Dictionaries

Another fundamental and extremely useful data structure is a Python Dictionary. 

A dictionary is Python's implementation of a structure known as a Hash Table. Essentially, a dictionary keeps a record of `keys` associated with `values`. Keys can be categories, names, or anything you would like which may have an associated value. When looking through the dictionary, you then have the ability to quickly look up the associated value of a key. 

Dictionaries are easiest to explain by using an example. Below, I have created an example dictionary in which students in a class are the `keys` in a dictionary, and their grades are the `values`.

In [0]:
empty_dict = {} # Dictionaries are declared using {} curly brackets

In [0]:
# In this example, the dictionaries keys are students in a class, and the values are their grades
class_grades = {"Adam": 86, "Tim": 93, "Bill": 70}

By using [ ] square brackets, we can retrieve the value for any key which exists in the dictionary

In [51]:
print(class_grades["Adam"])

86

Using square brackets to retrieve a value for a key that does not exist returns a `KEY ERROR`

In [0]:
#print(class_grades["Mark"])

To resolve this, you can either check if a key exists in the dictionary, or use a Python function called .get() which returns a defaults value of `None` if a key does not exist

In [53]:
# Using the regular in syntax will return true or false 
print("Mark" in class_grades)

# The .get() function returns `None` if the key is not found
print(class_grades.get("Mark"))

False
None

Dictionaries are commonly used to hold related sets of information, such as a tweet. Twitter and many companies actually use Python and dictionaries to deal with this type of information.

Notice below how values can be any datatype, such as Strings, Integers, or even Lists.

In [0]:
tweet = {
    "user"          : "adsafan2016",
    "text"          : "Data Science is Awesome",
    "retweet_count" : 32567,
    "hashtags"      : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

***
## Loops

Indexes are useful, but lists really shine when you start looping.

One of the most commonly used types of loops is called a `for` loop. A `for` loop lets you do something for each item in a list or collection. They syntax for a `for` loop is like an if statement, because they have an indented block.

They look like this:

    for item in list:
        print(item) # Do any action per item in the list
        
A good interpretation of what is happening above in English would be:

**"For each item in list, print that item"**.

"for" and "in" are required. "list" can be any variable or literal which is like a list. "item" is the name you want to give each item of the list in the indented block as you iterate through. We call each step where item has a new value an iteration.

Let's see it in action with our list:

In [55]:
# This is what out list of awesome people looks like right now:
print(awesome_people)

for person in awesome_people:
    print(person)

['Eric Idle', "Albert O'Connor", 'John Cleese']
Eric Idle
Albert O'Connor
John Cleese

This is bascially the same as writing:

In [56]:
person = awesome_people[0]
print(person)
person = awesome_people[1]
print(person)
person = awesome_people[2]
print(person)

Eric Idle
Albert O'Connor
John Cleese

But that is a lot more code than:

    for person in awesome_people:
        print(person)

Considering that our list of awesome people could be very long!

You can use the built-in function "range" to create lists of numbers easily.

In [57]:
range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

And then we can use that with a loop to print a list of squares. Note that we use special string formatting here in which `{0}` represents the first variable inside the format parentheses, and `{1}` represents the second variable.

In [58]:
for number in range(0, 10):
    print("{0} squared is {1}".format(number, number**2))

0 squared is 0
1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81

***
## Functions

Functions are a set of actions that we group together, and give a name to. We can define our own functions, which allows us to "teach" Python new behavior.

Here is the general syntax for defining and calling functions.

    # Let's define a function.
    def function_name(argument_1, argument_2):
        # Do whatever we want this function to do,
        # using argument_1 and argument_2
        
    # Use function_name to call the function.
    function_name(value_1, value_2)

* __Defining a function__
    * The keyword `def` tells Python that you are about to define a function.
    * Functions have a name. A variable name tells you what kind of value the variable contains; a function name should tell you what the function does.
    * The values inside parentheses are called __arguments__ or __parameters__. Functions use parameters to get data it may need to execute.
        * These are basically variable names, but they are only used in the function.
        * They can be different names than what you use in the rest of your program.
    * Make sure the function definition line ends with a colon.
* __Using your function__
    * To call your function, write its name followed by parentheses.
    * Inside the parentheses, provide the values for the function's parameters.
    * These can be values can be other variables you have defined or literal values.

In [0]:
# This function prints a two-line personalized thank you message.
def say_hello(name):
    # print() is also a function!
    # It prints the string you give it onto the screen.
    
    print('Hello, {0}!'.format(name))
    print('How\'s it going?') # Note that the \ character allows you to use single quotes without ending the string

In [60]:
# now we can use the function that we just defined
say_hello('Adriana')
say_hello('Billy')
say_hello('Caroline')

Hello, Adriana!
How's it going?
Hello, Billy!
How's it going?
Hello, Caroline!
How's it going?

You have already used quite a lot of built in functions so far. Here's some more functions that we can use on lists to sort them.

In [61]:
students = ['Bernice', 'Aaron', 'Cody']

# Use the sort function to put students in alphabetical order.
students.sort()

# Display the list in its current order.
print("Students in alphabetical order.")
for student in students:
    print(student.title())

# Give the sort function the reverse parameter
# This puts students in reverse alphabetical order.
students.sort(reverse=True)

# Display the list in reverse order.
print("\nStudents in reverse alphabetical order.")
for student in students:
    print(student.title())

Students in alphabetical order.
Aaron
Bernice
Cody

Students in reverse alphabetical order.
Cody
Bernice
Aaron

### Returning Values from Functions

Functions can also return values. This is useful when we want the function to compute some data and give it back to us to use elsewhere in our code.

Note: once a function returns something, Python moves out of that code. So anything after the return statement will not be run.

In [62]:
def add_five(number):
    print("Adding 5 to", number, "now...")
    return number + 5
    # We have already returned out of the function, the line below is arbitrary
    print("This will not get printed")
    
# Now use your function add_five()
num = add_five(10)
print("New number is:", num)

('Adding 5 to', 10, 'now...')
('New number is:', 15)

In [63]:
def get_number_word(number):
    # Takes in a numerical value, and returns the word corresponding to that number.
    if number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'
    else:
        return 'N/A'
    
# Let's try out our function.
for number in range(0, 4):
    number_word = get_number_word(number)
    print(number, number_word)

(0, 'N/A')
(1, 'one')
(2, 'two')
(3, 'three')

### Exercise 
Now try writing a function called `future_age` that takes in a name, current_age, and n_years as parameters, and returns a message with their name saying how old they will be in n_years. For example: future_age('Bill', 20, 13) should return 'Bill will be 33 years old in 13 years'.

In [64]:
def future_age(name, current_age, n_years):
    new_age = current_age + n_years
    print('%s will be'.format(name, ))
    
future_age('Bill', 20, 13)

%s will be

### Exercise 
Now you try writing a function called called `factorial`, which takes in a paramter n, and returns `n!`. Then, try testing your function out, factorial(5) should return 120. (Note that the factorial of 0 is 1, so we can start our return variable at 1 rather than 0.)

In [65]:
def factorial(n):
    count = 1
    result = 1
    while count <= n:
        result = result*count
        count += 1
    return result
    
print(factorial(5))

120

### Exercise

<b>Applies the following:</b>
- loops
- lists
- math operators
- functions

In [0]:
# execute this line first
list_data = [20, 50, 30, 70, 42, 30, 56, 72, 88, 90, 4, 65, 77, 42, 57]

In [67]:
# write a function that will take any list of numbers and sum up the values
# this function should return the sum of the list.
# add parameters if necessary
def sum_list(data):
    data_sum = 0
    for nums in data:
        data_sum = data_sum + nums
    # also can use the sum() function
    return data_sum # may need to modify this

# write another function that will take the sum and print out each digit separately
# example - 793 should print out '7', '9', and '3'
def print_digits(data):
    list_sum = sum_list(data)
    for digits in range(0,len(str(list_sum))):
        print('{0}'.format(str(list_sum)[digits]))
    return # may need to modify this

# write the code to make use of the functions that you wrote

print(sum_list(list_data))
print_digits(list_data)

793
7
9
3

***
## Going Forward

This concludes are introduction to Python workshop, I hope you learned something! In order to practice your Python skills, you can either code directly on sites like https://repl.it/languages, which offer an in-browser text editor and Python compiler. Or, you can write and run Python programs from your command line or terminal on whatever OS you're on by writing a file ending in .py, and typing `python filename.py`.

Python is a really fun and simple language to learn, and I highly recommend continuing to practice. There are websites that can teach you how to create very cool programs, and they are all a Google search away.

Join us next week for our Advanced Python workshop, and keep on practicing your skills!