![ADSA Logo](http://i.imgur.com/BV0CdHZ.png?2 "ADSA Logo")

# Spring 2019 ADSA Workshop - Python Series: Advanced Python    

Workshop content is adapted from:
* http://python-3-patterns-idioms-test.readthedocs.org/
* https://github.com/ehmatthes/intro_programming/
* http://github.com/rasbt/python_reference/blob/master/tutorials/sorting_csvs.ipynb
* http://www.engr.ucsb.edu/~shell/che210d/numpy.pdf

This workshop is a continuation of last week's Introduction to Python workshop and will be focusing on the following topics:
* Reviewing Workshop 1: Introduction to Python
* Data Structures
    * Lists
    * Tuples
    * Dictionaries
* Loops
* Functions
* Standard Library Modules
    * Math
    * fileIO
    * CSV
* To-do List Project
* List functions
    * List Slicing
    * List Comprehensions
* Lambda Functions

## Reviewing Workshop 1: Introduction to Python

### Variables and Data Types

A variable is used to hold a value. Variables and values have an associated datatype. Common datatypes are:
* `string` (text)
* `int` (integer)
* `float` (decimal value)
* `bool` (binary `True` or `False` values)
* Many more 

In many programming languages, you must specify what datatype your variable is, however, Python is able to tell the type based on the value you enter. When you declare a variable, you give the variable a name, and specify its value.

In [0]:
my_string = "Data Science" # string

In [0]:
my_int = 5 # integer type

In [0]:
my_float = 3.2 # float(decimal) type

In [0]:
my_bool = True # boolean type

### If-Else Conditional

In [0]:
x = True # Try changing this variable to "False
if x == True:
    print("If x is true, then this message will print")
else: 
    print("else, if x is false, this message will print")

## Data Structures

While declaring simple variables to hold data is very useful, once you begin working with a large set of related data or values, it becomes necessary to group this collection of data in some sort of structure to work with.

Below, we will discuss a few fundamental data structures in Python and computer science in general.

### Lists

Lists are perhaps the most fundemantal data structure in Python. A Python `List` is very similar to what other languages call an `Array`, however it has some added functionality.

A list in Python is just like a shopping list or a list of numbers. They have a defined order and you can add to it or remove from it.

Let's take a look at some simple lists.

In [0]:
# The empty list
[]

In [0]:
["Milk", "Eggs", "Bacon"]

In [0]:
[1, 2, 3]

List literals are all about square brackets ("[ ]") and commas (","). You can create a list of literals by wrapping them in square brackets and separating them with commas.

You can even mix different types of things into the same list; numbers, strings, booleans.

In [0]:
[True, 0, "Awesome"]

We can put variables into a list and set a variable to a list.

In [0]:
your_name = "Albert O'Connor"
awesome_people = ["Eric Idle", your_name]
print(awesome_people)

You can append to a list. The following code lets you add an item to the end of a list.

In [0]:
awesome_people.append("John Cleese")
print(awesome_people)

Lists, like in many other languages, are 0-indexed. Which means that when you try to access the first element in the list, you use the index 0 like so:

In [0]:
awesome_people[0]

And the second element like this:

In [0]:
awesome_people[1]

There are many Python functions which can be performed on Lists. Here is an example using Python's len() and sum() functions.

In [0]:
my_list = [1,2,3,4,5]

print(len(my_list)) # Prints the number of items in the list

print (sum(my_list)) # Sums up the total value of all integers in the list

Another useful List operation is `in`, which returns true or false depending on if a value is or is not in a list.

In [0]:
my_list = [1,2,3,4,5]

print(3 in my_list) # Checks if the value 3 appears in our list

print(6 in my_list) # Checks if the value 6 appears in our list

### Exercise

Write a program using If-Else conditionals and List operations which prints "Buy eggs!" if the word "Eggs" is in the shopping list variable, or adds "Eggs" to the shopping list if it is not in the list.

In [0]:
shopping_list = ['Bacon', 'Milk'] # Run this once to make the list then enter your code below

In [0]:
#Enter your code below

In [0]:
# To remove, use the remove() function
shopping_list.remove(shopping_list[2])
print('Remove Shopping List : ' + str(shopping_list))

***
## Tuples

Anything that can be done to a list can be done to a tuple, as long as it doesnâ€™t involve modifying it. This is due to the fact that tuples are immutable, which means it can not be modified once it is created. 

You have the option of putting parenthesis as long as the values are separated by commas, but you DO NOT have the option of putting square brackets. If square brackets are used, you will create a list and not a tuple.

In [0]:
tup = (45, 96) # creates a tuple without any parenthesis

In [2]:
print(type(tup))

<class 'tuple'>

In [0]:
another_tup = ('hello', 'there') # creates a tuple with parenthis(easier to read)

In [8]:
print(type(another_tup))

<class 'tuple'>

In [9]:
# accessing tuple elements
print(tup[1])
print(another_tup[0])

96
hello

In [0]:
# difference between creating a list and a tuple
a_list = [23, 45]   # create new list
a_tuple = (3, 4)   # created new tuple
print(a_list)
print(a_tuple)

In [0]:
# try modifying values in a list
a_list[1] = 76   
print("a_list: ", a_list)

In [10]:
# now try modifying a tuple, will print an error
a_tuple[0] = 33

NameError: ignored

## Dictionaries

Another fundamental and extremely useful data structure is a Python Dictionary. 

A dictionary is Python's implementation of a structure known as a Hash Table. Essentially, a dictionary keeps a record of `keys` associated with `values`. Keys can be categories, names, or anything you would like which may have an associated value. When looking through the dictionary, you then have the ability to quickly look up the associated value of a key. 

Dictionaries are easiest to explain by using an example. Below, I have created an example dictionary in which students in a class are the `keys` in a dictionary, and their grades are the `values`.

In [0]:
empty_dict = {} # Dictionaries are declared using {} curly brackets

In [0]:
# In this example, the 
#dictionaries keys are students in a class, and the values are their grades
class_grades = {"Adam": 86, "Tim": 93, "Bill": 70}

By using [ ] square brackets, we can retrieve the value for any key which exists in the dictionary

In [20]:
print(class_grades["Adam"])

86

Using square brackets to retrieve a value for a key that does not exist returns a `KEY ERROR`

In [21]:
print(class_grades["Mark"])

KeyError: ignored

To resolve this, you can either check if a key exists in the dictionary, or use a Python function called .get() which returns a defaults value of `None` if a key does not exist

In [22]:
# Using the regular in syntax will return true or false 
print("Mark" in class_grades)

# The .get() function returns `None` if the key is not found
print(class_grades.get("Mark"))

False
None

Dictionaries are commonly used to hold related sets of information, such as a tweet. Twitter and many companies actually use Python and dictionaries to deal with this type of information.

Notice below how values can be any datatype, such as Strings, Integers, or even Lists.

In [0]:
tweet = {
    "user"          : "adsafan2016",
    "text"          : "Data Science is Awesome",
    "retweet_count" : 32567,
    "hashtags"      : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

***
## Loops

Indexes are useful, but lists really shine when you start looping.

One of the most commonly used types of loops is called a `for` loop. A `for` loop lets you do something for each item in a list or collection. They syntax for a `for` loop is like an if statement, because they have an indented block.

They look like this:

    for item in list:
        print(item) # Do any action per item in the list
        
A good interpretation of what is happening above in English would be:

**"For each item in list, print that item"**.

"for" and "in" are required. "list" can be any variable or literal which is like a list. "item" is the name you want to give each item of the list in the indented block as you iterate through. We call each step where item has a new value an iteration.

Let's see it in action with our list:

In [0]:
# This is what out list of awesome people looks like right now:
print(awesome_people)

for person in awesome_people:
    print(person)

This is bascially the same as writing:

In [0]:
person = awesome_people[0]
print(person)
person = awesome_people[1]
print(person)
person = awesome_people[2]
print(person)

But that is a lot more code than:

    for person in awesome_people:
        print(person)

Considering that our list of awesome people could be very long!

You can use the built-in function "range" to create lists of numbers easily.

In [0]:
range(0, 10)

And then we can use that with a loop to print a list of squares. Note that we use special string formatting here in which `{0}` represents the first variable inside the format parentheses, and `{1}` represents the second variable.

In [0]:
for number in range(0, 10):
    print("{0} squared is {1}".format(number, number**2))

***
## Functions

Functions are a set of actions that we group together, and give a name to. We can define our own functions, which allows us to "teach" Python new behavior.

Here is the general syntax for defining and calling functions.

    # Let's define a function.
    def function_name(argument_1, argument_2):
        # Do whatever we want this function to do,
        # using argument_1 and argument_2
        
    # Use function_name to call the function.
    function_name(value_1, value_2)

* __Defining a function__
    * The keyword `def` tells Python that you are about to define a function.
    * Functions have a name. A variable name tells you what kind of value the variable contains; a function name should tell you what the function does.
    * The values inside parentheses are called __arguments__ or __parameters__. Functions use parameters to get data it may need to execute.
        * These are basically variable names, but they are only used in the function.
        * They can be different names than what you use in the rest of your program.
    * Make sure the function definition line ends with a colon.
* __Using your function__
    * To call your function, write its name followed by parentheses.
    * Inside the parentheses, provide the values for the function's parameters.
    * These can be values can be other variables you have defined or literal values.

In [0]:
# This function prints a two-line personalized thank you message.
def say_hello(name):
    # print() is also a function!
    # It prints the string you give it onto the screen.
    
    print('Hello, %s!'%(name))
    print('How\'s it going?') # Note that the \ character allows you to use single quotes without ending the string

In [0]:
# now we can use the function that we just defined
say_hello('Adriana')
print('')
say_hello('Billy')
print('')
say_hello('Caroline')

You have already used quite a lot of built in functions so far. Here's some more functions that we can use on lists to sort them.

In [0]:
students = ['Bernice', 'Aaron', 'Cody']

# Use the sort function to put students in alphabetical order.
students.sort()

# Display the list in its current order.
print("Students in alphabetical order.")
for student in students:
    print(student.title())

# Give the sort function the reverse parameter
# This puts students in reverse alphabetical order.
students.sort(reverse=True)

# Display the list in reverse order.
print("\nStudents in reverse alphabetical order.")
for student in students:
    print(student.title())

### Returning Values from Functions

Functions can also return values. This is useful when we want the function to compute some data and give it back to us to use elsewhere in our code.

Note: once a function returns something, Python moves out of that code. So anything after the return statement will not be run.

In [0]:
def add_five(number):
    print("Adding 5 to", number, "now...")
    return number + 5
    # We have already returned out of the function, the line below is arbitrary
    print("This will not get printed")
    
# Now use your function add_five()
num = add_five(10)
print("New number is:", num)

In [0]:
def get_number_word(number):
    # Takes in a numerical value, and returns the word corresponding to that number.
    if number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'
    else:
        return 'Not 1, 2, or 3'
    
# Let's try out our function.
for number in range(0, 4):
    number_word = get_number_word(number)
    print(number, number_word)

### Exercise 
Now try writing a function called `future_age` that takes in a name, current_age, and n_years as parameters, and returns a message with their name saying how old they will be in n_years. For example: future_age('Bill', 20, 13) should return 'Bill will be 33 years old in 13 years'.

In [0]:
# Enter code below

In [0]:
future_age('Bill', 20, 13)

### Exercise 
Now you try writing a function called called `factorial`, which takes in a paramter n, and returns `n!`. Then, try testing your function out, factorial(5) should return 120. (Note that the factorial of 0 is 1, so we can start our return variable at 1 rather than 0.)

In [0]:
print(factorial(5)) # output should be 120

### Exercise

<b>Applies the following:</b>
- loops
- lists
- math operators
- functions

In [0]:
# execute this line first
list_data = [20, 50, 30, 70, 42, 30, 56, 72, 88, 90, 4, 65, 77, 42, 57]

In [0]:
# write a function that will take any list of numbers and sum up the values
# this function should return the sum of the list.

# input: a list
# output: an integer
def sum_list(data):

In [0]:
# Call the function sum_list
print(sum_list(list_data))

In [0]:
# write another function that will take the sum and print out each digit separately
# example - 793 should print out '7', '9', and '3'

# input: a list 
# output: none
def print_digits(data):

In [0]:
# call the function print_digits
print_digits(list_data)

### Passing by Reference

All parameters in Python are passed by reference and so if you change the parameter inside a called function, the same change occurs in the calling function.

In [0]:
def addtolist(ls):
    #This changes a passed list into this function by adding values to it
    ls.append(99)
    print("List inside the function: ", ls)

mylist = [10,20,30]
print("List before function: ", mylist)
addtolist(mylist)
print("List after the function: ", mylist)

***
## Standard Library Modules

Python comes "batteries loaded". This means that Python comes with a lot of prewritten code that is called the standard library. This library is very extensive, and offers a lot of modules and classes to accomplish a wide range of tasks.

All of the modules in Python 2.7's Standard Library are listed in the official documentation at https://docs.python.org/2/library/index.html. To use any of these modules, you need to import them or the specific functions in them:

    import math
    # or
    from math import factorial, log

### Python `math`

Let's have a look at the `math` module.

In [24]:
import math

mynum = 14
print(math.sqrt(mynum))

# math.pi is a constant in the math module
print(math.sin(math.pi)) # should be almost 0

3.7416573867739413
1.2246467991473532e-16

### File I/O

It is very useful to know how to read and write files in Python. A lot of datasets are distributed in files, and to use the data in them we need to be able to read them.

Below we will go over some of the basics with I/O. When loading and saving files you can specify the entire filepath or just relative to the current working directory.

In [25]:
# writes a simple statement to a text file
filepath = 'simple.txt'

# opens the file. 'w' signifies we want to write to it.
f = open(filepath, 'w')
''' 
'w' erases existing file and writes. 
Creates a new file if the file name does not exist 
Use 'a' to append to an existing file 
'''

# write a line to file using the .write() function
f.write('Hello Advanced Python Workshop!\n')
f.close() # if you open a file, always close it
print('The file has been written')

The file has been written

Likewise we can load text files using the `read()` function.

In [26]:
filepath = 'simple.txt'
# opens the file, default behavior is to read (not write)
f = open(filepath) # default parameter is 'r' for read
print(f.read()) # reads the text file
f.close()

Hello Advanced Python Workshop!

### CSV Files

The CSV (Comma Separated Values) format is the most common import and export format for spreadsheets and databases. Although there is no standard for how the data is formatted, the generally followed format is like so:

    column1_title, column2_title, column3_title
    row1_data1, row1_data2, row1_data3
    row2_data1, row2_data2, row2_data3
    ...

While the delimiters and quoting characters vary, the overall format is similar enough for easy parsing using the csv module.
In the data folder, there is a test.csv file with the following contents:

    name,column1,column2,column3
    abc,1.1,4.2,1.2
    def,2.1,1.4,5.2
    ghi,1.5,1.2,2.1
    jkl,1.8,1.1,4.2
    mno,9.4,6.6,6.2
    pqr,1.4,8.3,8.4

Let's see how to parse the file and read the first few lines. Whenever you call the `open()` function in Python, you also need to call the close function. But since a lot of people forget, the general syntax people use is the __`with as`__ structure.

In the case below, the file contents that the `open()` function returns is stored in a temporary variable called `csv_con`.

In [27]:
import io
import csv
import pandas as pd
from google.colab import files

uploaded = files.upload()

# the relative path to the location of our csv file
csv_file = 'test.csv'

# a blank object that will store the parsed csv data
test_csv = None

df = pd.read_csv(io.StringIO(uploaded[csv_file].decode('utf-8')))

Saving test.csv to test.csv

In [28]:
df.head()

  name  column1  column2  column3
0  abc      1.1      4.2      1.2
1  def      2.1      1.4      5.2
2  ghi      1.5      1.2      2.1
3  jkl      1.8      1.1      4.2
4  mno      9.4      6.6      6.2

***
## Making a To-Do List App in Python

For our first project of the day, we are going to be creating a To-Do List app. This app involves some simple functions that will update a list object filled with tasks.  
First let's look at the enumerate function. This function returns tuples storing the elements in your list as a key-value pair.
For more information visit: https://docs.python.org/2/library/functions.html#enumerate

In [0]:
mylist = ["eric", "leo", "john"]
enum = enumerate(mylist)

print(list(enum))

In the code block below, write 3 functions:
* addItem(item)
    * This function adds an item to your list array if it doesn't already exist.
* deleteItem(item)
    * This function deletes an item in your list array.
* def viewList( )
    * This function allows you to view all of the items in the array.
      HINT: Use the enumerate function we just learned.

In [0]:
todo_list = []

#add item
def addItem(item):
  # insert code below

        
#delete item
def deleteItem(item):
  # insert code below


#view the list    
def viewList():
  # insert code below

In [0]:
addItem("Buy groceries")
addItem("Eat food")
viewList()

In [0]:
deleteItem("Buy groceries")
viewList()

***
## Important functions using lists

Lists are so common in Python that it is very useful to know how to do some basic tasks with it. These include slicing, merging, and generating lists.

### Slicing
List slicing allows you to select sections of the list. It can be thought of as an enchanced indexing method.
![List Slicing Image](http://www.nltk.org/images/string-slicing.png)

Slicing uses the syntax `mylist[start:end]` and the resulting list will include elements from `start` to (but not including) `end`. Here's an example to illustrate this.

In [29]:
# to select 4 elements of a string starting from index 6

seq = 'Monty Python'
print(seq[6:10])

Pyth

To select everything until a particular index, we can omit the `start` number.

In [0]:
print(seq[:5])

Similarly we can omit the `end` number to select everything until the end.

In [0]:
print(seq[7:])

We can also use negative indices to select from the end.

In [0]:
print(seq[-11:-4])

To skip every set number of elements, we can provide a step parameter.

In [0]:
print(seq[2:11:2])

### Sorting Lists

There are two ways to sort lists. We can either modify the list itself to make it sorted. Or we can return a new sorted list, thus preserving the order of the original list.

In [0]:
# in-place sorting
seq = [1, 5, 3, 9, 7, 6]
seq.sort()
print(seq)

In [0]:
# return a new list that is sorted
seq = [1, 5, 3, 9, 7, 6]
newseq = sorted(seq)
print(newseq)

You can also specify how you want to sort lists based on the `key` parameter. So if we want to sort it by length, we can do something like this.

In [0]:
seq = ['hello', 'wow', 'technology', 'python']
seq.sort(key=len)
print(seq)

### Pairing list elements using `zip`
If we have multiple lists and we want to pair them up into a single list, we can use zip.

In [30]:
seq_1 = [1, 2, 3]
seq_2 = ['foo', 'bar', 'baz']
zipped_seq = list(zip(seq_1, seq_2))
print(zipped_seq)

[(1, 'foo'), (2, 'bar'), (3, 'baz')]

The elements of the zipped list are tuples.

In [31]:
print(zipped_seq[0])

(1, 'foo')

### List Comprehensions
List comprehensions are one of the best features of Python's list. They allow you to generate new lists using syntax that is very similar to English.

List comprehensions concisely form a new list by filtering the elements of a sequence and transforming the elements passing the filter. List comprehensions take the form:

    [expr for val in collection if condition]

![List Comprehension figure](http://python-3-patterns-idioms-test.readthedocs.org/en/latest/_images/listComprehensions.gif)

Which is equivalent to the following for loop:

    result = []
    for val in collection:
        if condition:
            result.append(expr)

Here's an example that converts to upper case all strings that start with a 'b':

In [0]:
a_list = [1, 4, 9, 3, 0, 4]
squared_ints = [e**2 for e in a_list]
print(squared_ints)

In [0]:
strings = ['foo', 'bar', 'baz', 'f', 'fo', 'b', 'ba']
newlist = [x.upper() for x in strings if x[0] == 'b']
print(newlist)

***
## Lambda Functions

__`lambda`__ is a reserved keyword in Python. It signals the creation of an anonymous function (it's not bound to a name). It allows functions to be written in a single line and to be passed with relative ease. The best way to understand it is just to look at some examples.

In [0]:
# Simple function as we would normally define it
def f(x):
    return x**3

print(f(3))

g = lambda x:x**3 #Same exact function using the lambda keyword
print(g(3))

In [0]:
# filter the even numbers in a list

mylist = [17, 29, 12, 41, 8, 4, 10, 2]
# filters out anything that doesn't satisfy the given function
filtered_list = list(filter(lambda val : val%2 == 0, mylist))

print(filtered_list)

## Moving forward
This concludes our Advanced Python workshop, I hope you learned something! In order to practice your Python skills, you can either code directly on sites like https://repl.it/languages, which offer an in-browser text editor and Python compiler. Or, you can write and run Python programs from your command line or terminal on whatever OS you're on by writing a file ending in .py, and typing `python filename.py`.

Join us next week for another workshop, and keep on practicing your skills!