![ADSA Logo](http://i.imgur.com/BV0CdHZ.png?2 "ADSA Logo")

# Spring 2019 ADSA Workshop - Introduction to Pandas and Matplotlib
Workshop content adapted from:
* [Data Science from Scratch - First Principles with Python](http://www.amazon.com/Data-Science-Scratch-Principles-Python/dp/149190142X)
* [Greg Reda's Intro to pandas data structures](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/)
* [Dr. Robert Brunner INFO 490](https://github.com/UI-DataScience/info490-fa16)


This workshop will dive into data processing and visualization with Numpy, Pandas, and Matplotlib.

***

# Pandas

As stated on the official [pandas site](http://pandas.pydata.org/) "pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language." Pandas is built on top of NumPy, and provides two key data structures for processing data: Series and DataFrames.

To begin, we first need to import pandas and numpy:

In [0]:
import pandas as pd
import numpy as np

'''
For easiest visual display later on.
'''
pd.set_option('max_columns', 50)

'''
This line is Jupyter Notebook specific and allows for graphs
to be displayed in the notebook.
''' 
%matplotlib inline

## Series

A Series is a one-dimensional object containing a series of items, and is similar to an array or list in Python. A Numpy series assigns a labeled index to every entry in the series, and uses the numbers 0 through n (length of the series - 1) by default.

### Creating a Series

To make a series, we can pass in a Python list to the pd.Series() function. Note the convenient printing format and indices given when we print the series.

In [0]:
s = pd.Series(['ADSA', 5, True, -3.14 ])
print(s)

If you want, you can specify index labels to be used rather than the default 0 to n, by passing in an index list. (Note that the index list must be the same length as the series).

In [0]:
s = pd.Series(['ADSA', 5, True, -3.76 ], index=['A', 'B', 'C', 'D'])
print(s)

Now, let's say you have to create a series that has your day's agenda on it. Today, you will hang out with friends, do homework, play xbox, and study for your midterm. Since this is an agenda, you want to label the indexes as 1,2,3,4 so that they can be listed in order. How would you do this?

In [0]:
#INSERT CODE HERE

We can also take an existing Python dictionary and convert it to a series by passing it into the pd.Series() function.

In [0]:
# Let's assume we have a dictionary of cities and weather data
d = {'Chicago': 75,
     'Boston': 65,
     'New York': 70,
     'San Francisco': 80,
     'Los Angeles': 82,
     'Austin': None
}

weather = pd.Series(d)
print(weather)

### Querying a Series

We can then access data for specific indices by passing either a single index, or a list of indices in brackets.

In [0]:
print(weather['Chicago'])

print('\n')

print(weather[['Chicago', 'Austin']])

We can use boolean statements involving our series in order to check if something is in a series or generate a series of true and false values for those entries which satisfy the statement.

In [0]:
print('Chicago' in weather)

print('\n')

weather_less_than_80 = weather < 80
print(weather_less_than_80)

By passing in these boolean statements, we can query the series for entries which satisfy the boolean.

In [0]:
print(weather[weather < 80])

print('\n')

Suppose we had a series which contained the various incomes of Apple Employees

In [0]:
q = {'Employee 1': 100000,
     'Employee 2': 95000,
     'Employee 3': 140000,
     'Employee 4': 80000,
     'Employee 5': 90000,
     'Employee 6': 250000
}
income = pd.Series(q)
print(income)

If Apple decides to raise the income of everyone who is making less than $100,000, how will they identify these people?

In [0]:
print(income[income < 100000])

### Combining Series

We can also perform scalar multiplication and division, and numpy operations on series.

In [0]:
print(weather / 3)

print('\n')

print(weather * 2)

print('\n')

print(np.square(weather))

So if we work with the same example with the income of the Apple employees, how will we increase just the salary of those making less than 100,000 by a multiple of 1.25 ?

In [0]:
#INSERT CODE HERE

We can also add two series together. If the same index exists in both series, then their values will be added, otherwise a Null/NaN (Not a Number) value will be assigned to the resulting series.

In [0]:
# Note that the two dictionaries share the key 'New York' but not Chicago or Boston
d1 = {'Chicago': 65, 
      'New York': 55
     }

d2 = {'New York': 10,
      'Boston': 60
     }

s1 = pd.Series(d1)
s2 = pd.Series(d2)

# The value for New York will be added, but the values for Chicago and Boston are indeterminate and marked as NaN
s3 = s1 + s2
print(s3)

Finally, to tell if values in a series or Null (NaN) or not, we can use the functions .isnull() and .notnull() respectively. Note that we can use the same boolean logic as before to either display True and False values for every index, or query for indices which are Null.

In [0]:
print(s3.isnull())

print('\n')

print(s3[s3.isnull()])

## DataFrames

A DataFrame is a table-based Pandas data structure made up of rows and columns, just like a spreadsheet. Another way to think of DataFrames are as a group of Series in which each index is a column in the table.

### Creating a DataFrame from a Dictionary

In order to create a DataFrame from Python structures, we can create a dictionary of lists, in which each dictionary key is a column of the table, and each entry in the key's list is the value for that column in each row. 

We then call the pd.DataFrame(data, columns) function where data = the Python dictionary to be passed in, and columns = the ordering in which the columns appear in the table (If no order is specified, column names will be listed alphabetically).

In [0]:
d = {'student': ['Aaron', 'Josh', 'Tom', 'Justin', 'Andrew'],
     'credits': ['15', '14', '17', '18', '14'],
     'gpa': [3.52, 3.67, 3.43, 3.85, 3.32]
}

students = pd.DataFrame(d, columns=['student', 'credits', 'gpa'])
students

### Creating a DataFrame from a CSV

Often times, the dataset we have will be in CSV (Comma Separated Value) form. CSV files exist as a series of values separated by commas. For this tutorial, we have pulled a sample CSV file from the [Kaggle Titanic Project](https://www.kaggle.com/c/titanic/data?train.csv) containing data on the passengers of the Titanic.

To see what the Titanic data looks like as a CSV, click [here](https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv).

We can easily take data from a CSV file and import it into a DataFrame by using the pd.read_csv() function. By passing in header=0, we tell Pandas that the header information is contained on row 0.

We can then read the first 5 entries by using the .head() function.

In [0]:
import io
from google.colab import files
uploaded = files.upload()

df = pd.read_csv(io.StringIO(uploaded['train.csv'].decode('utf-8')))

# Note that the csv data is now a Pandas DataFrame
print(type(df))

# Returns first 5 entries
df.head()

To view the last n entries, we can use the .tail(n) function.

In [0]:
df.tail(5)

### Analyzing the Data

By calling the .info() function, we can see information regarding the column names, total number of entries, and types for each column.

In [0]:
df.info()

From this data, we can see that we have 891 entries (rows) in our DataFrame. We can also infer that since Age, Cabin, and Embarked do not have 891 entries, there are some rows for which that information is Null.

### Summarizing the Data

The .describe() function can be incredibly useful when analzing a data set. By calling this function, Pandas will tell us the count, mean, standard deviation, interquartile range, maximum, and minumum values for each column in our data set which has a numerical type.

We must however, remember that there are Null values in the Age, Cabin, and Embarked columns, meaning you should take that into considering when discussing their described values.

In [0]:
df.describe()

### Data Munging (Cleaning)

Pandas provides many tools to manipulate, filter, combine, and transform your data. We will now cover the syntax and some of the things you can do.

### Filtering Data

To grab the first 10 rows from the age column, we can enter the key and indices in square brackets [ ]. Alternatively, you can acess a column by typing its name right after the DataFrame name like df.Survived[0:10].

In [0]:
# Without indices, we can grab the entire column
# df.Age or df['Age']
print(df['Age'][0:10])
print('')
# This is equivalent
print(df.Age[0:10])

If we look at the type of each column, we can see that DataFrames are actually made up of Pandas Series.

In [0]:
type(df.Age)

By grabbing an individual column as a series, we can calculate the mean, median, or a number of statistical values by using methods of the same name.

In [0]:
print('MEAN: ' + str(df.Age.mean()))
print('MEDIAN: ' + str(df.Age.median()))
print('MAX: ' + str(df.Age.max()))
print('MIN: ' + str(df.Age.min()))
print('SUM: ' + str(df.Age.sum()))

We can also grab a number of columns at once by passing in a list of columns.

In [0]:
df[['Sex', 'Pclass', 'Age']]

### Example using survey data

Now, we are going to use an example with a survey. First, we need to load the csv

In [0]:
uploaded = files.upload()
st = pd.read_csv(io.StringIO(uploaded['Stat100_2013fall_survey01.csv'].decode('utf-8')))

# Returns first 10 entries
st.head(10)

This DataFrame contains various information about different people. Suppose we wanted to find the mean and median of the number of shoes of the first 10 people. How would we do this?

First we would want to view ONLY the shoeNums column of the first 10 people. Write the code for that here

In [0]:
print(st.shoeNums[0:10])

Then, we would want to print the mean and median of this data.

In [0]:
print('MEAN: ' + str(st.shoeNums.mean()))
print('MEDIAN: ' + str(st.shoeNums.median()))

### Querying DataFrames

Just as we discussed above in the Series section, we can pass in boolean arguments to query for data which satisfies a description.

For instance, let's say we want to look at every passenger of the Titanic who was over the age of 70, we could do this:

In [0]:
df[df.Age > 70]

DataFrames allow us to run multiple queries on our data sets as well by either using parenthesis and an & sign, or by passing in two expressions in square brackets.

For example, we can pull all female passengers over the age of 60 by running this:

In [0]:
df[(df.Sex == 'female') & (df.Age > 60)]
# or equivalently
# df[df.Sex == 'female'][df.Age > 60]

And we can further specify which additional column names we which to view by again passing a list of column names.

In [0]:
df[(df.Sex == 'female') & (df.Age > 60)] [['Age','Sex','Ticket','Fare']]

If we were curious in investigating all the Null values for Age we discovered earlier, we can easily grab them.

In [0]:
df[df.Age.isnull()][['Age','Sex','Pclass']]

Going back to our example with the number of shoes, how would we identify all the female sophmores who sleep more than 9 hours a day?

In [0]:
# INSERT CODE HERE

***

# Data Visualization

"A fundamental part of the data scientist’s toolkit is data visualization. Although it is
very easy to create visualizations, it’s much harder to produce good ones.
There are two primary uses for data visualization:
* To explore data
* To communicate data"

-Joel Grus, Data Science from Scratch

In [0]:
from IPython.display import YouTubeVideo
YouTubeVideo('5Zg-C8AAIGg', start=18)

There are many tools that we can use to visualize data, however one of the most widely used tools is the [matplotlib](http://matplotlib.org/) library. While other libraries such as [d3.js](https://d3js.org/) are more commonly used for web visualizations, the matplotlib.pyplot module does an excellent job at quickly producing bar charts, line charts, and scatterplots in Python.

To begin, we will first import the pyplot module from matplotlib.

In [0]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt

## Bar Charts

A bar chart can be a very helpful, simple visualization when you need to illustrate quantities of a discrete set of items. With matplotlib, we can take two lists, labels and heights, and easily create a bar chart.

We can use the plt.bar() method to create bargraphs. This function takes in a list of xcoordinates to start each bar, and a list of corresponding heights for each bar.

The following is an example of how we could create a simple bargraph to visualize the number of academy awards won by movies.

In [0]:
# These are movies we wish to plot, as well as the number of awards won
movies = ["Annie Hall", "Ben-Hur", "Casablanca", "Gandhi", "West Side Story"]
num_oscars = [5, 11, 3, 8, 10]

'''
Bars start from xcoordinate 0 by default, so to make the graph look nicer, we can add
0.1 to each bar xcoordinate to shift them a bit to the right.

One way to do this is to use a list comprehension along with a range from 0 to the length
of movies, and yield a list of each index + 0.1.
'''
xcoords = [i+0.1  for i in range(0, len(movies))]
print(xcoords)

# plot bars with left x-coordinates [xcoords], heights [num_oscars]
plt.bar(xcoords, num_oscars)

# We can add titles and x/y labels by using the following plt methods
plt.xlabel('Movies')
plt.ylabel("# of Academy Awards")
plt.title("My Favorite Movies")

# To add a label for each bar, we can use .xticks with a list of xcoordinates and strings
# We move over the xcoordinates by 0.5 this time just to properly center them
plt.xticks([i + 0.5 for i in range(0, len(movies))], movies)

# Finally, we can display the graph with plt.show()
plt.show()

Bargraphs are also great for creating histograms, graphs in which the y-axis illustrates frequency of the x-axis' values. 

Below is an example of how to create a histogram for exam distributions. In this example, we use a few other parameters in our plot. When we call plt.bar(), we pass in a bar width parameter, and we also call plt.axis() to change the range of x and y-coordinates shown.

In [0]:
# Dictionary like structure which countains a count of the frequency of something
from collections import Counter

grades = [83,95,91,87,70,0,85,82,100,67,73,77,0]

# The lambda keyword creates quick functions
# dec is a function which takes input grade and rounds it to the lowest nearest multiple of 10 
dec = lambda grade: (grade // 10) * 10

# This creates a dictionary of the frequency count of grades in each percentage range by 10's
histogram = Counter(dec(grade) for grade in grades)
print(histogram.keys())  # Retrieves all the keys
print(histogram.values())  # Retrieves frequencies

# We now create our graph. Note that we are scooting over the xcoords by 4 to make it look nice
plt.bar([x - 4 for x in histogram.keys()],
       histogram.values(),
       8) # We are passing in a value for the optional bar width parameter

# Extends the x-axis to show values from -5-105, and y to show 0-5
plt.axis([-5, 105, 0, 5])

# Labels each x-axis bar by 10's
plt.xticks([10 * i for i in range(11)])

# The rest of our labels
plt.xlabel("Decile")
plt.ylabel("# of Students")
plt.title("Distribution of Exam Grades")
plt.show()

### Line Charts

Line charts can be very useful in illustrating trends, and be very useful for visualizing data. We can use the plt.plot() method in order to create line charts with Matplotlib. 

Below is an example of a fake stock market chart comparing two companies:

In [0]:
# Fake company stock data
company1 = [53.0, 52.2, 57.3, 60.0, 62.2, 54.5, 61.1]
company2 = [42.0, 43.2, 47.4, 49.0, 55.0, 57.2, 60.0]
years = [2010, 2011, 2012, 2013, 2014, 2015, 2016]

# The xcoords are the same for both, so we can just grab them for company 1
xcoords = [i for i in range(0, len(company1))]
print(xcoords)

# plt.plot() takes in the xcoodinates, ycoordinates, and an optional color/label name
plt.plot(xcoords, company1, 'g-', label='Company 1')
plt.plot(xcoords, company2, 'r-', label='Company 2')

plt.legend(loc=2) # This enables and determines the location of the graph's legend
plt.xlabel("Stock Trends")
plt.ylabel('Price ($)')
plt.title("Stock Trends")

plt.xticks([i for i in range(0, len(years))], years) # Adds the years as labels

plt.show()

### Scatter Plots

Finally, scatter plots can be useful for illustrating the relationship between two variables. We can use the plt.scatter() function to create scatter plots in matplotlib.

Below is an example of a scatter plot showing the relatinoship between number of online friends vs the number of minutes spent on a social media website.

In [0]:
friends = [ 70, 65, 72, 63, 71, 64, 60, 64, 67]
minutes = [175, 170, 205, 120, 220, 130, 105, 145, 190]
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'] # A list of arbitrary labels for the scatter points

# Creates scatter plot
plt.scatter(friends, minutes)

# label each point. Zipping creates a list of tuples that looks like [('a', 70, 175), ('b', 65, 170)...] etc.
for label, friend_count, minute_count in zip(labels, friends, minutes):
    plt.annotate(label,
    xy=(friend_count, minute_count), # put the label with its point
    xytext=(5, -5), # offsets the label by +5x and -5y
    textcoords='offset points') # tells matplotlib that the xytext sh

    
plt.title("Daily Minutes vs. Number of Friends")
plt.xlabel("# of friends")
plt.ylabel("daily minutes spent on the site")
plt.show()

In [0]:
test_1_grades = [ 99, 90, 85, 97, 80]
test_2_grades = [100, 85, 60, 90, 70]
plt.scatter(test_1_grades, test_2_grades)
plt.title("Axes Aren't Comparable")
plt.xlabel("test 1 grade")
plt.ylabel("test 2 grade")
plt.show()

***
## Using `urllib` to Access Web Data and `BeautifulSoup` to Parse it.

`urllib` is a very easy-to-use module to fetch URLs (Uniform Resource Locators). You can use this module to easily read and use web content in your code. We are going to use this module to build an app that gets weather data.

`BeautifulSoup` on the other hand is HTML and XML parser. It creates a parse tree from the parsed webpage and can be used to access several tags in the HTML page. This makes it a very useful tool for web-scraping.

Let's start by seeing what reading the Python.org homepage through `urllib` looks like. Then we will use `BeautifulSoup` to print all the links present in the webpage!   
For more information visit: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [0]:
import urllib
from urllib.request import urlopen
from bs4 import BeautifulSoup
url = 'http://python.org'
response = urlopen(url)
html = response.read()

#print html
# We can use BeautifulSoup to parse the web tree to give us only the web-links instead.
soup = BeautifulSoup(html, "html.parser") #Create a soup object. Check its class using:  print type(soup)
print(type(soup))
for link in soup.find_all('a', href=True): #Finding all the tags containing 'a' and its a link
    if "http" in link['href']:
        print(link['href'])

This prints out the complete source HTML of the website. We have this data stored as a regular string in the html variable, and we can now do whatever we want with it.

### Build a Weather Reporting Program!

Let's now use the `urllib` module to build a small program that tells you the city and the current weather when you give it the zip code of a place.
For the weather data, we will use the service OpenWeatherMap.org. Copy the URL http://api.openweathermap.org/data/2.5/weather?zip=61820,us&appid=cf7f4e0a615b5f48f4601377a2c98a75 into the address bar in a new tab. The website shows text about the weather information in the area of zipcode 61820 (Champaign). Let's load this information through `urllib`.

In [0]:
appid = 'cf7f4e0a615b5f48f4601377a2c98a75'
zipcode = '61820'
url = 'http://api.openweathermap.org/data/2.5/weather?zip={},us&APPID={}'.format(zipcode, appid)
response = urlopen(url)
weather_html = response.read().decode('utf-8')

print(weather_html)

The string that we have received is formatted in JSON, which is very similar to a Python dictionary. Let's parse this JSON data into a Python dictionary, and also pretty print it so that we can understand the structure of the data.

In [0]:
from json import JSONDecoder, dumps

decoder = JSONDecoder()
weather_data = decoder.decode(weather_html)
pretty_weather_data = dumps(weather_data, indent=2, separators=(',', ': '))

print(pretty_weather_data)

The information we want to build our program is the name field and the temp field which is inside the main sub-dictionary.

In [0]:
city = weather_data['name']

temp_kelvin = weather_data['main']['temp']
temp_fah = 1.8 * (temp_kelvin - 273.15) + 32

print("We are in {0} and it is {1} degrees outside!".format(city, temp_fah))

Let's put all of this into a nice and easy to use function.

In [0]:
def tell_me_weather(zipcode):
    # import urllib
    appid = 'cf7f4e0a615b5f48f4601377a2c98a75'
    url = 'http://api.openweathermap.org/data/2.5/weather?zip={0},us&APPID={1}'.format(zipcode, appid)
    response = urlopen(url)
    weather_html = response.read().decode('utf-8')
    
    # from json import JSONDecoder, dumps

    decoder = JSONDecoder()
    weather_data = decoder.decode(weather_html)
    
    city = weather_data['name']

    temp_kelvin = weather_data['main']['temp']
    temp_fah = 1.8 * (temp_kelvin - 273.15) + 32

    print("You are in {0} and it is {1} degrees outside!".format(city, temp_fah))

Now let's use our new tell_me_weather function!

In [0]:
tell_me_weather(61801)
tell_me_weather(60601)
tell_me_weather(94102)